<p>
  Name: {{ nameField.value }}
  <input type="text" [formControl]="nameField" />

  <!-- <code>
    <pre>{{ nameField | json }}</pre>
  </code> -->
  <button (click)="getNameValue()">Get value</button>
</p>

<p>
  Email: {{ emailField.value }}
  <input type="email" [formControl]="emailField" />
</p>

<p>
  Phone: {{ phoneField.value }}
  <input type="tel" [formControl]="phoneField" />
</p>

<p>
  Color: {{ colorField.value }}
  <input type="color" [formControl]="colorField" />
</p>

<p>
  Date: {{ dateField.value }}
  <input type="date" [formControl]="dateField" />
</p>

<p>
  Age: {{ ageField.value }}
  <input type="number" [formControl]="ageField" />
</p>

<p>
  Category: {{ categoryField.value }}
  <select [formControl]="categoryField">
    <option value="Category-1">Category 1</option>
    <option value="Category-2">Category 2</option>
    <option value="Category-3">Category 3</option>
    <option value="Category-4">Category 4</option>
  </select>
</p>

<p>
  Tag: {{ tagField.value }}
  <select [formControl]="tagField" multiple>
    <option value="Tag-1">Tag 1</option>
    <option value="Tag-2">Tag 2</option>
    <option value="Tag-3">Tag 3</option>
    <option value="Tag-4">Tag 4</option>
  </select>
</p>

<p>
  Agree: {{ agreeField.value }}
  <input type="checkbox" [formControl]="agreeField" />
</p>

<p>
  Gender: {{ genderField.value }}
  <label
    >Male <input name="gender" type="radio" value="male" [formControl]="genderField"
  /></label>
  <label
    >Female <input name="gender" type="radio" value="female" [formControl]="genderField"
  /></label>
  <label
    >Other <input name="gender" type="radio" value="other" [formControl]="genderField"
  /></label>
</p>

<p>
  Zone: {{ zoneField.value }}
  <label
    >Zona 1 <input name="zone" type="radio" value="zona-1" [formControl]="zoneField"
  /></label>
  <label
    >Zona 2 <input name="zone" type="radio" value="zona-2" [formControl]="zoneField"
  /></label>
  <label
    >Zona 3 <input name="zone" type="radio" value="zona-3" [formControl]="zoneField"
  /></label>
</p>
